# APPLICATION
MOOD=DEV
PORT=3000
APPLICATION_NAME=EXPRESS_JS_STARTER

# DATABASE
DB_URI=mongodb://localhost:27017/ExpressJSStarter_DEV

# CORS
ORIGINS=http://127.0.0.1:5500,http://127.0.0.1:4200

# HASHING
SALT=12

# ENCRYPTION
ENCRYPTION_SECRET=your_encryption_secret

# TOKEN
ACCESS_USER_TOKEN_SIGNATURE=your_access_user_secret
ACCESS_SYSTEM_TOKEN_SIGNATURE=your_access_system_secret

REFRESH_USER_TOKEN_SIGNATURE=your_refresh_user_secret
REFRESH_SYSTEM_TOKEN_SIGNATURE=your_refresh_system_secret

ACCESS_TOKEN_EXPIRES_IN=1800
REFRESH_TOKEN_EXPIRES_IN=31536000

# EMAIL
EMAIL=
EMAIL_PASSWORD=

# GOOGLE
WEB_CLIENT_ID=

# CLOUDINARY
CLOUD_NAME=
API_KEY=
API_SECRET=